
#form-div {
    display: inline-flex;
}

#game-type {
    display: inline-flex;
    flex-direction:column;
    align-items: flex-end;
}

#form-right {
    display: inline-flex;
    flex-direction:column;
}

#online-options {
    display: grid;
    grid-template-columns: auto 10em;
    justify-items: start;
    align-items: center;
}

#options label {
    margin-right: 4px;
} 

#options input {
    margin: 0;
} 


#form-right {
    display: inline-flex;
    flex-direction:column;
}

#play-mode {
    display: flex;
    justify-content:space-between;
}

#test-options {
    display: flex;
}

#test-options input {
    margin-right: 20px;
}

#play {
    font-size: larger;
}
