h1 {
    background-color: blanchedalmond;
}


.square {
    float: left;
    width: 12%;
    height: 50px;
    border: 1px solid black;
}

.row {
    /* float: none;
    height: 60px;
    width: 500px;
    border: 2px solid red; */
}


.counter { /* Player 1 by default*/
    margin: auto;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: darkred;
}

.player2 {
    background-color: darkblue;
}