.cs-board {
    display:flex;
    align-items: center;
}

.cs-column {
    display: inline-flex;
    flex-direction: column;
    color: #606060;
    font-size: 1.3em;
    font-weight: 400;
}

.cs-in-play-column {
    color: var(--player-color);
    font-weight: 550;
}
.cs-column div {
    width: 60px;
    min-height: 40px;
}

.cs-top-number, .cs-bottom-number {
    display: flex;
    justify-content: center;

    font-family:sans-serif;
}

.cs-top-number {
    align-items: flex-end;
}

.cs-bottom-number {
    align-items: start-end;
}

.cs-square {
    display: flex;
    background-color: var(--games-board-background-colour);
    border:  3px var(--games-board-border-colour) solid; /* Default - switch off for some edges is JS */
}

.cs-player-square {
    border: 1px var(--games-board-border-colour) dashed; /* Default - switch off for some edges is JS */
}