#game {
    position: relative; /* to force a positioning context */
    display: inline-flex;
    flex-direction: column;
    margin: 5px 10px;
    font-size: 30px;
    --player-color: black; /* Changed in JS */
    margin: 0 0;
}

#game * {
    font-family: Arial; /* Let's be boring, or now at least */
}

#below-board {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#player-interactions {  /* move options, required roll, bust */
    position: relative;
    font-size: 30px;
    margin: auto;
}

#move-options { /* dice-options, roll or don't */
    display: flex;
    flex-direction: row;
}

#bust, #required-roll {
    position: absolute;
    top: 0;
    font-size: 1.9em;
    color: var(--player-color);
    width: 100%;
    height: 100%;
    top: 0;
}

#dice-option-grid {
    display: flex;
    flex-direction: column;
    color: white;
}

#dice-option-grid div {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}

.dice-option {
  font-size: 0.8em;
  width: 4.1em;
  height: 1.3em;
  color: white;
  background-color: var(--player-color);
  border: 1px black solid;
}

.dice-columm {
    display: flex;
    flex-direction: column;
}

.dice-column > div:not(:first-child) {
    margin-top: 10px;
}

.selected-move {
    text-decoration: underline;
}

#roll, #dont {
  border: 3px outset;
  font-size: 1.3em;
}

#roll:disabled, #dont:disabled {
  /* kludge to hide button text. Taken from 
  https://stackoverflow.com/questions/471510/hide-text-using-css
  */
  border: none;
}

#non-game-play-options { /* Options not used in normal game play */
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: absolute;
   top: 0;
   right: 0
}

#restart{
    margin-top: 4px;
}

#non-game-play-options button {
    font-size: 30px;
}

#non-game-play-options input {
    font-size: inherit;
    width: 1.5em;
}

#pass {
    font-size: 30px;
    color: var(--player-color);
    position: absolute;
    top: 0;
    left: 0
}

.cs-precommit {
    background-color: var(--games-board-non-player-color);
}

.current-precommit {
  border-radius: 50%;
}