* {
    margin: 0 0;
    box-sizing: border-box;
}
#game {
    display: flex;
    flex-direction: column;

    margin: 5px 20px;
  
    width: 660px; /* KLUDGE - should automatically resize */
    --border-of-squares:  3px black solid;
}
#board {
    display:flex;
    align-items: center;
}
.column {
    display: inline-flex;
    flex-direction: column;
}

.column div {
    width: 60px;
    height: 40px;
}

.top-number, .bottom-number {
    display: flex;
    justify-content: center;

    font-family:sans-serif;
    font-weight:600;
    font-size: 25px;
}

.top-number {
    align-items: flex-end;
}

.bottom-number {
    align-items: start-end;
}

.square {
    background-color: cornsilk;

}

.bt {
    border-top: var(--border-of-squares);
}

.bl  .square {
    border-left: var(--border-of-squares);
}
.br  .square {
    border-right: var(--border-of-squares);
 }

#below-board {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}
#controls {
     display: flex;
     /* border: 1pt black solid; */
    margin-bottom: 6px;
 }

button {
    font-size: 30px;
    color:blue;
}

input {
    font-size: 30px;
    width: 1.5em;
}

#bust {
    display: none;
    color: red;
    font-size: 2em;
}
#controls table, #controls td {
    border: 1px solid black;
    border-collapse: collapse;
  }

 #controls td {
     width: 3em;
     text-align:center;
 }