body {
    display: inline-flex;
    flex-direction: column;
}

/*
 * Number and plus/minus buttons
 */

#number-and-buttons {
    display: inline-flex;
    flex-direction:column;
    align-items: center;
}

#number {
    font-size: 5rem;
    font-weight: bold;
}

#plus-minus button {
    font-size:2rem;
    min-width:2rem;
}

/*
 * Messages and chat
 */

 
#chat {
    display: flex;
    margin-top: 0.5em;
    font-family:helvetica;
}

#chat-text {
    resize: none;
    font-family:inherit;
    font-size:inherit;
}

#chat {

}



/*
 * Connection form
 */

#connect-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#group-form-inputs {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.3rem;

}

#group-form-inputs label {
    justify-self: end;  
}


#name {
    width: 8em;
}


