body {
    display: inline-flex;
    flex-direction: column;
}

#number-and-buttons {
    display: inline-flex;
    flex-direction:column;
    align-items: center;
}

#number {
    font-size: 5rem;
    font-weight: bold;
}

#plus-minus button {
    font-size:2rem;
    min-width:2rem;
}

#connect-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#group-form-inputs {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.3rem;

}

#group-form-inputs label {
    justify-self: end;  
}

#chat-text-and-send {
    display: flex;
    margin-top: 0.5em;
}

#chat-text {
    resize: none;
}

#name {
    width: 8em;
}

#chat {
    font-family:helvetica;
}


#chat-text {
    font-family:inherit;
    font-size:inherit;
}

#connection-form { /* for now */
    display: none;
}

