* {
    box-sizing:border-box;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

/*
 * Number and plus/minus buttons
 */

#number-and-buttons {
    display: flex;
    flex-direction:column;
    align-items: center;
}

#number {
    font-size: 5rem;
    font-weight: bold;
}

#plus-minus button {
    font-size:2rem;
    min-width:2rem;
}

/*
 * Messages and chat
 */

#messages {
    font-family:Arial, Helvetica, sans-serif;
}
 
#chat {
    display: flex;
    margin-top: 0.5em;
    justify-content: stretch;
}

#chat-text {
    resize: none;
    font-family:inherit;
    font-size:inherit;
    width: 100%;
    border: 0.5px grey solid;
}

#chat-send {
    font-size: 1.3em;
    font-family: Arial;
}

/*
 * Connection form
 */

#connect-div {
    display: flex;
    justify-content: space-between;
}

#group-form-inputs {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.3rem;

}

#group-form-inputs label {
    justify-self: end;  
}

.join-group-only {
    display: none; /* default */
}




