.pressed-button {
   border: inset;
}

.dice {
   position: relative;
   width: 50px; /* For now */
   height: 50px; /* For now */
   background-color: darkred;
   border-radius: 20%;

   transform-origin: center center;
   --spot-size: 16%; /* If chamged, also change --spot-offset-mid */
   --spot-offset-edge: 15%; /* arbitrary. Use with any edge*/
   --spot-offset-mid: 42%; /* 50% - spot-size / 2.  Use with left and top */
}

.dice-set {
    display: flex;
    flex-wrap: wrap;
}

.dice-set > div:not(:first-child) {
   margin-left: 5px; /* For now */
}

 .dice-held {
    background-color: darkblue;  /* Same as hold-text color */
 }

 .hold-text {
   margin-top: 2px;
   text-align: center;
   color: darkblue;  /* Same as dice-held backgroud-color */
   font-weight: bold;
   font-family: helvetica;
 }


 .dice-spot {
     width: var(--spot-size);
     height: var(--spot-size);

     position: absolute; 

     background-color: white;
     border-radius: 50%;

 }

 .spot0 {
    top: var(--spot-offset-edge);
    left: var(--spot-offset-edge);
 }

 .spot1 {
    top: var(--spot-offset-mid);
    left: var(--spot-offset-edge);
 }

 .spot2 {
    bottom: var(--spot-offset-edge);
    left: var(--spot-offset-edge); 
 }
 
 .spot3 {
    top: var(--spot-offset-mid);
    left: var(--spot-offset-mid);
 }

 .spot4 {
    top: var(--spot-offset-edge);
    right: var(--spot-offset-edge);
 }

 .spot5 {
    top: var(--spot-offset-mid);
    right: var(--spot-offset-edge);; 
 }

 .spot6 {
    bottom: var(--spot-offset-edge);
    right: var(--spot-offset-edge); 
 }