button
{
    outline: 0 none;
    background-color: #e8e8e8;
}

#game-control {
   display:  inline-block;
}

#game-control > div {
   margin-bottom: 4pt;
}

#left-buttons {
   margin-right: 20pt;
}

#buttons {
   display: flex;
   justify-content: space-between;
   margin-right: 5px; /* For now */
}

#restart {
   color: red;
}