
        .score-pads {
            display: flex;
            flex-wrap: wrap;
            /* align-items: flex-start; */
        }

        .score-pad {
            display: flex;
            flex-direction: column;

            width: 10em;
            border: 5px solid darkred;
            margin-right: 2px;
            margin-bottom: 5px;

            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            font-size: large;

            background-color: lemonchiffon;
        }


        .score-pad > * {
            border: 0px; /* Some boarders are re-added below */
        }

        .player-name {
            background-color: inherit;
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-large;
            font-weight: bold;
        }

        .enter-score{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
        }

        .current-score {
            border: none;
            border-right: 1px solid black;
        }

        .scores {
            display: flex;
            flex-direction: row;
            height: 100%;
        }
        .scores > div {
            min-height: 1em;
            width: 50%;
            height: 100%;
            text-align: right;
            padding: 2px;
        }