.gamesBoardSquare {
    border: 3px solid black;
    margin: 0;
}

.gamesBoardCounter { /* Player 1 by default*/
    margin: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

:root {
    --board-games-player1-color: green;  
    --board-games-player2-color: darkred;
  }


.gamesBoardPlayer1 {
    background-color: var(--board-games-player1-color);
}

.gamesBoardPlayer2 {
    background-color: var(--board-games-player2-color);;
}
