.gamesBoardSquare {
    border: 3px solid black;
    margin: 0;
}

.gamesBoardCounter { /* Player 1 by default*/
    margin: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.gamesBoardPlayer1 {
    background-color: darkblue;
}

.gamesBoardPlayer2 {
    background-color: darkblue;
}
