button
{
    outline: 0 none;
    background-color: #e8e8e8;
}

#game-control {
   display:  inline-block;
}

#game-control > div {
   margin-bottom: 4pt;
}

#left-buttons {
   margin-right: 20pt;
}

#buttons {
   display: flex;
   justify-content: space-between;
   margin-right: 5px; /* For now */
}

#restart {
   color: darkblue;
}

#july11 {
   font-family: cursive;
   font-size: 30px;
   font-weight: bold;
   color: darkred;
   margin-bottom: 10px;
}

#gene {
    font-weight: normal;
    opacity: 0.8;
}