.grid-of-squares {
    display: inline-grid;
    grid-gap: 2px;

    border: 5px solid var(--games-board-border-colour);
    background: var(--games-board-border-colour);

    box-sizing: border-box;
    margin: 0px;

    --game-square-size: 80px; /* used when fixed width squares is selected (the default) */
}

.grid-square {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Trick to force the element to be square */
    background: var(--games-board-background-colour);
}

.game-board-square-disabled {
    margin: 0;
    background-color: var(--games-board-border-colour);
}

.game-board-counter {
    position: absolute;
    top: 0; left: 0;

    margin: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-sizing: border-box;
}
