body {
    /* group the colours together.  Some can also be changed in the classes below */
    --game-board-player-colours-1: rgb(0, 0, 220);  /* slightly dark blue */
    --game-board-player-colours-2: rgb(200, 0, 0);  /* slightly dark red */
    --game-board-player-colours-3: green;
    --game-board-player-colours-4: black;
    --game-board-player-colours-5: orange;
    --game-board-player-colours-6: purple;
    --game-board-player-colours-7: brown;
    --game-board-player-colours-8: gold; /* Yellow was a bit to light for text to be readable against a lightyellow background */


    --games-board-background-colour: darkred; /* uses for board  border, gaps between squares and disabled squares */
    --games-board-square-colour: lemonchiffon;
    --game-square-size: 80px; /* used when fixed width squares is selected (the default) */
}

.grid-of-squares {
    display: inline-grid;
    grid-gap: 2px;

    border: 5px solid var(--games-board-background-colour);
    background: var(--games-board-background-colour);

    box-sizing: border-box;
    margin: 0px;
}

.grid-square {
    position: relative;
    width: 100%;
    padding-bottom: 100%; // Trick to force the element to be square
    background: var(--games-board-square-colour);
}

.game-board-square-disabled {
    margin: 0;
    background-color: var(--games-board-background-colour);
}

.game-board-counter {
    position: absolute;
    top: 0; left: 0;

    margin: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-sizing: border-box;
}
